@import "bourbon";
@import "vars.scss";
@import "../libs/lightslider/dist/css/lightslider.min.css";
@import "../libs/magnific-popup/dist/magnific-popup.css";

body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	color: #020202;
	line-height: 1.6;
	font-family: ProximaNovaRegular;
	overflow-x: hidden;
	background-color: #fff;
}

a,button,input,textarea{
	text-decoration: none;
	outline: 0;
	border: 0;
	@include transition(color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease);
	&:focus{
		outline: 0;
		border: 0;
	}
}

button{
	&:hover{
		cursor: pointer;
	}
}

.hidden{
	display: none;
}

header{
	background-image: url("../img/head-bg.png");
	background-position: top center;
	background-repeat: no-repeat;
	min-height: 978px;
}
.logo{
	display: block;
	padding-left: 23px;
	margin-top: 40px;
}
.top-menu{
	display: inline-block;
	vertical-align: top;
	margin-left: 172px;
	li{
		float:left ;
	}
	a{
		color: #fff;
		font-size: 16.89px;
		margin-top: 42px;
		display: block;
		padding-right: 21px;
		font-family:ProximaNovaLight;
		letter-spacing: 0.9px;

	}
}
.telephone{
	margin-top: 41px;
	padding-left: 22px;
	display: inline-block;
	color: #fff;
	max-width: 230px;
	text-decoration: none;
	font-size:19px;
	font-family:ProximaNovaLight;
	letter-spacing: 2px;
	span{
		padding-left: 10px;
	}
}
.call-back{
	display: block;
	text-align: center;
	margin-top: 30px;
	padding: 10px 30px;
	font-size:19px;
	background-color: #383b44;
	color: #ebebec;
	font-family:ProximaNovaLight;
	margin-left: 34px;
	max-width: 222px;
	&:hover{
		text-decoration: none;
		color: #fff;
		background-color: #434958;
	}
	&:focus{
		color: #fff;
		text-decoration: none;
	}
	&:active{
		color: #fff;
		text-decoration: none;
	}
}


.head-centr{
	h1{
		font-size:47.5px;
		font-family:ProximaNovaBlack;
		margin-top: 166px;
		margin-left: 25px;
		letter-spacing: 1.8px;
		line-height: 62px;
		text-transform: uppercase;
		margin-bottom: 0;
		color: #e1cba9;
		span{
			color: #fff;
		}
	}
	p{
		font-size:21.11px;
		font-family:ProximaNovaLight;
		padding-top: 13px;
		padding-left: 28px;
		letter-spacing: 0.4px;
		color: #fff;
	}
}


.baner-popup{
	max-width: 1165px;
	position: relative;
	margin: 0 auto;
	margin-top: 195px;
	background-color: #fff;
	min-height: 295px;
	border-radius: 3px;
	text-align: center;
	font-family:ProximaNovaSemibold;
	color: #020202;
	box-shadow: 0 0 50px rgba(0,0,0,0.3);
	p{
		font-size: 21.11px;
		padding-top: 60px;
		letter-spacing: 0.4px;
		padding-bottom: 20px;
	}
	b{
		font-size: 34.83px;
		letter-spacing: 1.4px;
		span{
			padding-left: 14px;
		}

	}
	a{
		display: block;
		font-family:ProximaNovaRegular;
		font-size:14.78px;
		margin: 21px auto;
		max-width: 232px;
		padding: 8px 0px;
		color: #fff;
		background-color: #c2b6a6;
		&:hover{
			text-decoration: none;
		}
	}
}






.toggle_mnu {
	width: 60px;
	height: 60px;
	position: fixed;
	z-index: 100;
	border: none;
	right: 20px;
	top: 20px; }
.toggle_mnu span {
	display: block; }

.sandwich {
	width: 28px;
	height: 28px;
	position: absolute;
	top: 8px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 200; }

.sw-topper {
	position: relative;
	top: 0;
	width: 50px;
	height: 5px;
	background: white;
	border: none;
	border-radius: 4px 4px 4px 4px;
	-webkit-transition: -webkit-transform 0.5s, top 0.2s;
	transition: transform 0.5s, top 0.2s;
	display: block; }


.sw-bottom {
	position: relative;
	width: 50px;
	height: 5px;
	top: 6.6px;
	background: white;
	border: none;
	border-radius: 4px 4px 4px 4px;
	-webkit-transition: -webkit-transform 0.5s, top 0.2s;
	transition: transform 0.5s, top 0.2s;
	-webkit-transition-delay: 0.2s, 0s;
	transition-delay: 0.2s, 0s; }

.sw-footer {
	position: relative;
	width: 50px;
	height: 5px;
	top: 13.5px;
	background: white;
	border: none;
	border-radius: 4px 4px 4px 4px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s; }

.sandwich.active .sw-topper {
	top: 9px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg); }
.sandwich.active .sw-bottom {
	top: 6px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg); }
.sandwich.active .sw-footer {
	opacity: 0;
	top: 0;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg); }

.top_mnu {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 50;
	right: 0;
	top: 0;
	display: none; }
.top_mnu ul,
.top_mnu li {
	list-style-type: none;
	padding: 0;
	margin: 0; }
.top_mnu ul {
	margin-top: 180px;
	text-align: center;
	-webkit-animation-duration: 0.01s;
	animation-duration: 0.01s; }
.top_mnu ul li:nth-child(1) a {
	-webkit-animation-delay: 0;
	animation-delay: 0; }
.top_mnu ul li:nth-child(2) a {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s; }
.top_mnu ul li:nth-child(3) a {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s; }
.top_mnu ul li:nth-child(4) a {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s; }
.top_mnu ul a {
	color: #fff;
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	position: relative;
	height: 60px;
	outline: none; }
.top_mnu ul a span {
	display: block;
	position: relative;
	top: -40px;
	left: 0;
	height: 100%;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease; }
.top_mnu ul a span:hover {
	background-color: rgba(255, 255, 255, 0.08); }


.pic-perfect{
	position: absolute;
	top: 0;
	left: 50%;
	right: 0;
	opacity: .4;
	margin-left: -960px;
}

.popup{
	position: relative;
	max-width: 500px;
	padding-bottom: 30px;
	background-color: #fff;
	border-radius: 7px;
	margin: 0 auto;
	text-align: center;
	padding-top: 35px;
	form{
		input{
			width: 80%;
			min-height: 40px;
			border-radius: 4px;
			border: 1px solid #8a8a8a;
			display: inline-block;
			padding-left: 25px;
			margin: 10px auto;
		}
		button{
			display: inline-block;
			width: 80%;
			background-color: #c2b6a6;
			padding: 10px;
			border-radius: 7px;
			margin-top: 25px;
			color: #fff;
		}
	}
}